/**************************
    WEATHER BACKGROUNDS
***************************/
.container {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: background .2s ease-in-out;
}
.container.thunderstorm { background: url('../img/thunderstorm.jpg'); }
.container.drizzle { background: url('../img/drizzle.jpg'); }
.container.rain { background: url('../img/rain.jpg'); }
.container.snow { background: url('../img/snow.jpg'); }
.container.clear { background: url('../img/clear.jpg'); }
.container.clouds { background: url('../img/clouds.jpg'); }
.container.atmosphere,
.container.mist,
.container.haze { background: url('../img/atmosphere.jpg'); }

/**************************
    WEATHER ICONS
***************************/
@font-face {
    font-family: 'weathericons';
    src: url('../font/weathericons-regular-webfont.eot');
    src: url('../font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/weathericons-regular-webfont.woff2') format('woff2'), url('../font/weathericons-regular-webfont.woff') format('woff'), url('../font/weathericons-regular-webfont.ttf') format('truetype'), url('../font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
i.weather {
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    color: white;
    /*line-height: 1;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    transition: all .3s ease-in-out;
}
i.weather.thunderstorm:before { content: '\f01e'; }
i.weather.drizzle:before { content: '\f01c'; }
i.weather.rain:before { content: '\f019'; }
i.weather.snow:before { content: '\f01b'; }
i.weather.clear:before { content: "\f00d"; }
i.weather.clouds:before { content: '\f013'; }
i.weather.atmosphere:before,
i.weather.mist:before,
i.weather.haze:before { content: '\f014'; }

/**************************
    WEATHER COLORS
***************************/
.card-top.thunderstorm { background: #191f38; }
.card-top.drizzle { background: #d1da8b; }
.card-top.rain { background: #96a8b4; }
.card-top.snow { background: #191a14; }
.card-top.clear { background: #f2b24e; }
.card-top.clouds { background: #105785; }
.card-top.atmosphere,
.card-top.mist,
.card-top.haze { background: #a8a7a9; }

.card-bottom i.thunderstorm { color: #191f38; }
.card-bottom i.drizzle { color: #d1da8b; }
.card-bottom i.rain { color: #96a8b4; }
.card-bottom i.snow { color: #191a14; }
.card-bottom i.clear { color: #f2b24e; }
.card-bottom i.clouds { color: #105785; }
.card-bottom i.atmosphere,
.card-bottom i.mist,
.card-bottom i.haze { color: #a8a7a9; }

/**************************
    HOME
***************************/
html, body, .view {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    position: relative;
}

.card-top {
    height: 400px;
    line-height: 400px;
    width: 900px;
    max-width: 90vw;
    opacity: 0.9;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 5px 22px -7px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
}

#temp {
    font-size: 150px;
    margin-left: 30px;
}

.card-bottom {
    opacity: 0.75;
    height: 150px;
    width: 900px;
    max-width: 90vw;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 22px -7px rgba(0,0,0,0.80);
    transition: all .3s ease-in-out;
}

.card-bottom ul {
    width: auto;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.card-bottom li {
    display: inline-block;
    float: left;
    color: #768083;
    list-style: none;
    font-size: 17px;
}

.card-bottom li i {
    display: block;
    font-size: 40px;
}

.card:hover .card-top,
.card:hover .card-bottom {
    opacity: 0.95;
}

#search {
    z-index: 1;
    width: 320px;
    position: absolute;
    top: 15px;
    left: 20px;
    text-align: left;
    font-size: 17px;
}

#search input {
    background: transparent;
    border: none;
    padding: 5px 35px 5px 5px;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, .3);
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
    font-size: 17px;
}

#search input:active,
#search input:focus {
    outline: none;
}

#search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

#search input:-moz-placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

#search input::-moz-placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

#search input:-ms-input-placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

#search input:hover,
#search input:focus {
    border-color: rgba(255, 255, 255, .4);
    color: rgba(255, 255, 255, .5);
}

#search button {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, .3);
    position: relative;
    left: -40px;
    cursor: pointer;
}

#search:hover button,
#search:focus button {
    color: rgba(255, 255, 255, .5);
}

#search button:focus {
    outline: none;
}

#converter {
    z-index: 1;
    position: absolute;
    width: 82px;
    top: 18px;
    right: 10px;
    text-align: right;
    float: right;
    cursor: pointer;
    font-size: 17px;
}

#converter span.btn {
    display: inline-block;
    color: rgba(255, 255, 255, .3);
}

#converter span.btn:hover,
#converter span.btn:focus {
    color: rgba(255, 255, 255, .5);
}

#converter span.btn::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 15px;
    left: -8px;
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50px;
    transition: background .5s ease-in-out;
}

#converter span.btn:first-child {
    margin-right: 5px;
}

#converter .hint--rounded::before {
    border-top-color: #f9f9f9;
    /*border-bottom-color: #f9f9f9;*/
}

#converter .hint--rounded::after {
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
    color: #768083;
    text-shadow: none;
}

.active::after {
    background: rgba(255, 255, 255, .3) !important;
}

h1 {
    display: block;
    position: relative;
    bottom: 330px;
}

/**************************
    SPINNER
***************************/
@keyframes loading-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes loading-enter {
    from {
        opacity: 0;
        transform: scale(2);
    }
    to {
        opacity: 1;
    }
}

.loading {
    height: 100%;
    width: 100%;
    background: #212121;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ng-hide {
    animation: .5s loading-exit;
}

.loading p {
    font-size: 18px;
    animation: .5s loading-enter;
}

.error {
    text-align: center;
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    animation: .5s loading-enter;
}

.spinner > div {
    background-color: #f9f9f9;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

/**************************
    MEDIA QUERIES
***************************/
@media only screen and (max-width: 480px) {

    .card-top {
        height: 98vw;
        line-height: 100vw;
    }

    .card-bottom ul {
        padding-left: 20px;
        padding-right: 20px;
    }

    #temp,
    i.weather {
        font-size: 25vw;
    }

    h1 {
        bottom: 80vw;
        font-size: 7vw;
    }

    #search {
        width: 55vw;
    }

    #search input {
        width: 32vw;
    }

    .card-bottom li:last-child,
    .card-bottom li:nth-last-child(2){
        display: none;
    }

    .card-bottom li {
        font-size: 4.2vw;
    }

    .card-bottom li i {
        font-size: 11vw;
    }
}

@media only screen and (max-height: 414px) {

    .card-top {
        height: 35vw;
        line-height: 38vw;
    }

    #temp,
    i.weather {
        font-size: 12vw;
    }

    h1 {
        bottom: 33vw;
        font-size: 3.3vw;
    }

    .card-bottom {
        height: 100px;
    }

    .card-bottom ul {
        height: 100px;
    }

    .card-bottom li {
        font-size: 15px;
    }

    .card-bottom li i {
        display: block;
        font-size: 30px;
    }

    .card-bottom li:last-child,
    .card-bottom li:nth-last-child(2){
        display: block;
    }
}